*:not(h1, h2) {
    font-family: "Poppins";
    font-size: 2vh;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#game {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#comparison {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 18vh;
    width: auto;
    margin-top: 10px;
}

@keyframes shakeYou {   
    0% { transform: translate(0px, 10px); }
    20% { transform: translate(0px, -10px); }
    40% { transform: translate(0px, 10px); }
    60% { transform: translate(0px, -10px); }
    80% { transform: translate(0px, 10px); }
    100% { transform: translate(0px, -10px); }
}

@keyframes shakeRobot {   
    0% { transform: translate(0px, 10px) rotateY(180deg); }
    20% { transform: translate(0px, -10px) rotateY(180deg); }
    40% { transform: translate(0px, 10px) rotateY(180deg); }
    60% { transform: translate(0px, -10px) rotateY(180deg); }
    80% { transform: translate(0px, 10px) rotateY(180deg); }
    100% { transform: translate(0px, -10px) rotateY(180deg); }
}

#you {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid black;
    padding-right: 5.85vw;
}

#bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid black;
    padding-left: 5.85vw;
}

#img-bot {
    transform: rotateY(180deg);
}

#choose-you {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options-rps {
    display: flex;
    column-gap: 2vw;
}

.button {
    font-weight: bold;
    padding: 1.2vh 3vw;
    border-radius: 1.5vh;
    border: none;
    cursor: pointer;
    background-color: #4BC2EA;
}

#addition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options-add {
    display: flex;
    column-gap: 2vw;
}